<h1>{{ title }}</h1>
<p>We start with a reactive form</p>

<h2>Form</h2>

<form class="form">

  <div class="field">
    <label for="description">Description</label>
    <input id="description" type="text" [formField]="taskForm.description" />
    @for (error of taskForm.description().errors(); track error.kind) {
      <span class="field-error">{{ error.kind }}: {{ error.message }}</span>
    }
  </div>

  <div class="field">
    <label for="when">When</label>
    <input id="when" type="date" [formField]="taskForm.when" />
    @for (error of taskForm.when().errors(); track error.kind) {
      <span class="field-error">{{ error.kind }}: {{ error.message }}</span>
    }
  </div>

  <div class="field">
    <label for="amount">Amount</label>
    <input id="amount" type="number" [formField]="taskForm.amount" />
    @for (error of taskForm.amount().errors(); track error.kind) {
      <span class="field-error">{{ error.kind }}: {{ error.message }}</span>
    }
  </div>

  <div class="field field--checkbox">
    <input id="done" type="checkbox" [formField]="taskForm.done" />
    <label for="done">Done</label>
  </div>

</form>

<h2>Form-State</h2>
<pre class="debug">IsValid:  {{ taskForm().valid() }}</pre>

<h2>Form-Model</h2>
<pre class="debug">{{ taskForm().value() | json }}</pre>
